@use "../abstracts/variables";

.section-main {
  background-color: variables.$dark-light;

  &__footer {
    padding: 15px 0px;
    text-align: center;
  }

  &__footer &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1% 0%;
    color: variables.$white;
    font-size: 0.8em;
  }

  &__footer &__row a {
    margin: 8px;
    text-decoration: none;
    color: variables.$white;
    transition: 0.5s;
  }

  &__footer &__row a:hover {
    color: variables.$blue;
  }

  &__footer &__row ul {
    width: 100%;
  }

  &__footer &__row ul li {
    display: inline-block;
    margin: 0px 30px;
  }

  &__footer &__row a i {
    font-size: 2em;
    margin: 0% 1%;
  }
}

@media (max-width: 720px) {
  .section-main__footer {
    padding: 3%;
  }
}
