@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-form {
  background-color: variables.$dark;
  height: 110vh;

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    padding: 50px;
    width: 65%;
  }

  &__title {
    color: variables.$dark-light;
    font-weight: 700;
    font-size: 8rem;
    padding-bottom: 20px;
  }

  &__form {
    input,
    textarea {
      background-color: variables.$dark-light;
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      margin: 15px 0px;
      border: none;
    }
  }

  &__form {
    label {
      color: white;
    }
  }

  &__btn {
    @include mixin.main-button(variables.$dark);
    border: 1px solid variables.$blue;
    color: variables.$white;
    background-color: variables.$blue;
    width: 50%;
  }
}
