@use "../abstracts/mixin";
@use "../abstracts/variables";

.home {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 20px;
  height: 92vh;
  background-color: variables.$dark;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: bisque;
    width: 70%;
    // margin: 10px;
    flex-direction: column;
  }

  &__title {
    color: variables.$white;
    font-size: 3rem;
    padding: 10px 0px;
  }

  &__span {
    color: variables.$blue;
  }

  &__p {
    margin: 20px 0px;
    font-size: 1.3rem;
    color: variables.$white;
  }

  &__btn {
    @include mixin.main-button(variables.$dark);
    border: 1px solid variables.$blue;
    background-color: variables.$blue;

    &--mod {
      @include mixin.main-button(variables.$blue);
      border: 1px solid variables.$blue;
      color: variables.$blue;
      background-color: variables.$dark;
    }
  }

  &__img {
    // background-color: bisque;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
    img {
      object-fit: contain;
      width: 600px;
      height: 600px;
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__container-btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__line {
    border: 0;
    height: 2px;
    margin: 3px 0px;
    background-image: linear-gradient(
      to right,
      variables.$blue,
      variables.$blue,
      variables.$blue
    );
  }
}
