@use "../abstracts/variables";

.skills {
  background-color: variables.$dark;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  &__img {
    width: 60px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 10px;
  }

  &__container {
    padding: 50px;
    background-color: variables.$dark-light;
    width: 75%;
  }

  &__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    margin: 20px;
  }

  &__title h1 {
    color: variables.$dark-light;
    font-weight: 700;
    text-align: left;
    font-size: 9rem;
  }

  &__my-skill {
    text-align: center;
  }

  &__my-skill h4 {
    color: variables.$white;
    padding: 10px 0px;
  }
}
